@import "styles/fonts.module.scss";
@import "styles/breakpoints.module.scss";

.container {
    display: flex;
    gap: 2.63rem;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    &.entered {
        opacity: 1;
    }

    .poster {
        position: relative;
        width: 90vw;
        height: calc(95vw * 1.26);

        @media (min-width: $sm-screens) {
            min-width: 400px;
            max-width: 565px;
            min-height: 504px;
            max-height: 711px;
            width: 41.3vw;
            height: calc(41.3vw * 1.26);
        }

        .skeleton {
            position: absolute;
            inset: 0px 0px 0px 0px;

            :global {
                .ant-skeleton-image {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    align-items: center;
                }
            }
        }
    }

    .info {
        width: 90vw;

        @media (min-width: $sm-screens) {
            min-width: 400px;
            width: 43.3vw;
            max-width: 592px;
        }

        header {
            position: relative;
            display: flex;
            align-items: center;
            gap: 1rem;
            margin: 0.1rem 0;

            .title {
                margin: 0;
                font-family: $font1;
                font-size: 3rem;
                font-weight: 600;
                line-height: 2.9rem;
                width: 85%;
            }

            .add-remove-button {
                color: black;
                margin-left: 5%;
            }

            .close-button {
                position: absolute;
                top: 0px;
                right: 0px;
            }
        }

        .genres {
            display: flex;
            gap: 0.5rem 4%;
            margin: 1.5rem 0;
            flex-wrap: wrap;

            .genres-item {
                font-family: $font1;
                font-size: 1.25rem;
                font-weight: 600;
                line-height: 31.43px;
                color: #ffffff;
                line-height: 28.57px;
                background: #66CCCC;
                border-radius: 7px;
                padding: 0.2rem 0.4rem;
            }
        }

        .overview {
            font-family: $font1;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 37.72px;
            color: #4B4B4B;
        }

        .languajes {
            display: flex;
            gap: 0.5rem 4.75%;

            margin: 1.5rem 0;
            flex-wrap: wrap;


            .genres-item {
                font-family: $font1;
                font-size: 1.38rem;
                font-weight: 600;
                line-height: 31.43px;
                color: #ffffff;
                line-height: 34.57px;
                background: #66CCCC;
                border-radius: 7px;
                padding: 0.2rem 0.4rem;
            }
        }
    }

}