@import "styles/colors.module.scss";

.container {
    background: $btn_primary-bg;
    border-radius: 20px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.04);
    color: #ffffff;
    font-size: 0.953rem;
    padding: 0.524rem 0.586rem;
    cursor: pointer;

    &:hover {
        opacity: 0.9;
    }

    &:active{
        opacity: 1;
        transform: translateY(1px);
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.04);
    }
}