.toggle-button {
  padding-top: 0.31rem;
  background-color: transparent;
  right: 0;
  color: #fff;
  font-size: 1.4em;
  margin: 0;
  cursor: pointer;
  border: transparent 2px solid;
  border-radius: 0.25rem;
}

.toggle-button span {
  width: 1.44rem;
  height: 0.19rem;
  border-radius: 0.19rem;
  background: #66CCCC;
  display: block;
  margin-bottom: 0.31rem;
  transition: all 0.25s ease;
}

.toggle-button.expanded span:first-child {
  transform: translateY(0.5rem) rotate(-225deg);
}
.toggle-button.expanded span:nth-child(2) {
  width: 0;
}
.toggle-button.expanded span:last-child {
  transform: translateY(-0.5rem) rotate(225deg);
}


