@import "styles/colors.module.scss";
@import "styles/fonts.module.scss";
@import "styles/breakpoints.module.scss";

.container {
    width: 100%;
    background: $input_bg;
    border: 1px solid $input_border-color;
    border-radius: 4px;
    padding: 0.2rem 0.7rem;
    font-family: $font1;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375rem;
    color: $input_text-color;

    @media(min-width: $sm-screens) {
        width: 25.65rem;
    }

    &:focus-visible {
        outline: none;
    }
    
    &::placeholder{
        font-family: $font1;
        font-weight: 400;
        font-size: 0.88rem;
        line-height: 22px;
        color: $input_placeholder-color;
    }
    
}