@import "styles/colors.module.scss";


.icon{
    color: white;
    font-size: 2rem;
    opacity: 0.9;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;

    &:hover{
        opacity: 1;
    }

    &:active{
        opacity: 0.8;
    }
}
